<div class="container">
    <div class="columns is-mobile is-centered is-vcentered"">
        <div class="column is-two-thirds has-text-centered">
            <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" placeholder="pega tu enlace aquí...">
            </div>
            <div class="control">
                <a class="button is-dark">
                Descargar
                </a>
            </div>
            </div>
        </div>
    </div>
</div>